<form action='http://localhost:4005/events' method='POST'>
	<input type='text' name='post[title]' placeholder='title'>
	<input type='text' name='post[body]' placeholder='body'>
    <input type="text" name='type' value='createpost' style='display:none'>
	<input type='submit'>
</form>
<br><br>

<%posts.forEach(function(x){%>
	<h1><%=x.title%></h1>
    <p><%=x.body%></p>
    <br>
    <p><strong>Comments</strong></p>
    <%x.comments.forEach(function(y){%>
        <p><%=y.body%></p>
    <%})%>
    <form action='http://localhost:4005/events' method='POST'>
        <input type='text' name='comment[body]' placeholder='text'>
        <input type='text' name='comment[postid]' value='<%=x.id%>' style='display:none'>
        <input type='text' name='type' value='createcomment' style='display:none'>
        <input type='submit'>
    </form>
	<p><%=x._id%></p> <br><br>
<%})%>
